---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import FormattedDate from "@/components/formatted-date.astro";
import Pill from "@/components/pill.astro";

export interface Props {
	posts: CollectionEntry<"blog">[];
}

const { posts } = Astro.props;
---

<section class="space-y-8">
  <h2 class="text-2xl font-bold">Pinned Posts</h2>

  <div class="flex flex-col gap-y-4">
    {
      posts.map((post) => (
        <a
          href={`/blog/${post.slug}`}
          class="relative isolate flex h-80 flex-col rounded-lg border text-card-foreground shadow-sm hover:bg-muted"
        >
          <Image
            src={post.data.cover}
            alt={post.data.title}
            width={1024}
            height={768}
            class="absolute inset-0 h-full w-full rounded-lg object-cover"
          />
          <div
            class="z-10 flex h-full flex-col justify-end space-y-2 rounded-lg bg-gradient-to-t from-background via-background/80
                    to-background/20
                    p-4
                    hover:from-background/60
                    hover:via-background/60
                    hover:to-background/20"
          >
            <h3 class="text-xl font-semibold leading-none tracking-tight">
              {post.data.title}
            </h3>

            <div class="flex items-center space-x-2">
              <FormattedDate
                className="text-muted-foreground"
                date={post.data.pubDate}
              />
              {post.data.isWorkInProgress && (
                <Pill variant="warning" content="Work in Progress" />
              )}
            </div>

            <div class="flex flex-wrap gap-x-2 text-sm text-muted-foreground">
              {post.data.tags.map((tag: string) => (
                <span>{tag}</span>
              ))}
            </div>
          </div>
        </a>
      ))
    }
  </div>
</section>

<script is:inline>
  const isDark = document.documentElement.classList.contains("dark");
</script>
